.pokemons {
  display: grid;
  grid-template-columns: 1fr;

  list-style: none;
}

.bug {
  background-image: linear-gradient(330deg, #f1e4e4, #3b9950, #1c4b27);
}
.dark {
  background-image: linear-gradient(330deg, #f1e4e4, #5a5979, #040706);
}
.dragon {
  background-image: linear-gradient(330deg, #f1e4e4, #61cad9, #448b95);
}
.electric {
  background-image: linear-gradient(330deg, #f1e4e4, #dfdf65, #cacd01);
}
.fairy {
  background-image: linear-gradient(330deg, #f1e4e4, #ea1369, #971944);
}
.fighting {
  background-image: linear-gradient(330deg, #f1e4e4, #ef6138, #994025);
}
.fire {
  /* background-color: #ab1f23;
  border: 1px #fd4c5a solid; */
  background-image: linear-gradient(330deg, #f1e4e4, #fd4c5a, #ab1f23);
}
.flying {
  background-image: linear-gradient(330deg, #f1e4e4, #93b2c7, #4b657c);
}
.ghost {
  background-image: linear-gradient(330deg, #f1e4e4, #906790, #31336b);
}
.grass {
  /* background-color: #147b3d;
  border: 1px #27cb4f solid; */
  background-image: linear-gradient(330deg, #f1e4e4, #27cb4f, #147b3d);
}
.ground {
  background-image: linear-gradient(330deg, #f1e4e4, #6e491f, #a9702c);
}
.ice {
  background-image: linear-gradient(330deg, #f1e4e4, #d8f0fa, #86d2f5);
}
.normal {
  background-image: linear-gradient(330deg, #f1e4e4, #ca98a7, #75515b);
}
.poison {
  background-image: linear-gradient(330deg, #f1e4e4, #9b69d9, #5e2d88);
}
.psychic {
  background-image: linear-gradient(330deg, #f1e4e4, #f81c91, #a5296c);
}
.rock {
  background-image: linear-gradient(330deg, #f1e4e4, #8b3e21, #47190b);
}
.steel {
  background-image: linear-gradient(330deg, #f1e4e4, #42bd94, #5f756d);
}
.water {
  background-image: linear-gradient(330deg, #f1e4e4, #86a8fc, #1553e0);
}

.pokemon {
  display: flex;
  flex-direction: column;

  margin: 0.5rem;
  padding: 1rem;

  background-color: #5b5b5b;
  color: #fff;
  border-radius: 1rem;
  border-color: #5b5b5b;
}

.pokemon .number {
  color: #000;
  opacity: 0.3;
  text-align: right;
  font-size: 0.625rem;
}

.pokemon .name {
  color: #fff;
  margin-bottom: 0.25rem;
  text-transform: capitalize;
}

.pokemon .detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon .detail .types {
  list-style: none;
}

.pokemon .detail .types .type {
  /* background-color: #61e1ca; */
  color: #fff;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  border-radius: 1rem;
  font-size: 0.625rem;
  text-align: center;
}

.pokemon .detail img {
  max-width: 100%;
  height: 70px;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.pagination button {
  background-color: #6c79db;
  border-radius: 1rem;
  color: #fff;
  padding: 0.25rem 0.5rem;
  margin: .25rem 0;
  border: none;
  font-size: .725rem;
}


@media (min-width: 380px) {
  .pokemons {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 576px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

